<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite" parallel="false">

    <test name="Test1">
        <parameter name="BrowserType" value="Chrome"/>
        <classes>
            <class name="Tests.TestCases.SendMailTestCase"/>
        </classes>
    </test>

</suite>
